{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es5",
    "baseUrl": "./",
    "paths": {
      "@src/*": ["src/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": "inline"
}
